.u-block-232e-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-232e-3 {
  position: absolute;
  left: 0;
}

.u-block-232e-4 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  right: 0;
}

 .u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/body3.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 900px;
}

.u-section-1-1 .u-text-1 {
  font-size: 5.5rem;
  text-transform: uppercase;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 289px 509px 0 22px;
}

.u-section-1-1 .u-text-2 {
  animation-duration: 1000ms;
  margin: 0 555px 60px 37px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 742px;
  }

  .u-section-1-1 .u-text-1 {
    margin-right: 331px;
    margin-left: 0;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 392px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-1-1 .u-text-1 {
    margin-right: 111px;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 172px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 426px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 0;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 268px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 1.875rem;
  }
}

 .u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/piuc90.png");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 900px;
}

.u-section-1-2 .u-image-1 {
  width: 1046px;
  height: 1046px;
  margin: 79px auto 0 -229px;
}

.u-section-1-2 .u-text-1 {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: -906px 472px 0 24px;
}

.u-section-1-2 .u-text-2 {
  animation-duration: 1000ms;
  margin: 38px 555px 60px 50px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 742px;
  }

  .u-section-1-2 .u-text-1 {
    margin-right: 296px;
    margin-left: 0;
  }

  .u-section-1-2 .u-text-2 {
    margin-right: 405px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 242px;
  }

  .u-section-1-2 .u-image-1 {
    width: 720px;
    height: 720px;
    margin-left: 0;
  }

  .u-section-1-2 .u-text-1 {
    margin-top: -580px;
    margin-right: 76px;
  }

  .u-section-1-2 .u-text-2 {
    margin-right: 185px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 62px;
  }

  .u-section-1-2 .u-image-1 {
    width: 540px;
    height: 540px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -400px;
    margin-right: 0;
  }

  .u-section-1-2 .u-text-2 {
    margin-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -200px;
  }

  .u-section-1-2 .u-text-2 {
    margin-right: 0;
  }
}

 .u-section-1-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/pic54.png");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 900px;
}

.u-section-1-3 .u-image-1 {
  width: 1046px;
  height: 1046px;
  margin: 12px auto 0 -192px;
}

.u-section-1-3 .u-text-1 {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: -906px 341px 0 61px;
}

.u-section-1-3 .u-text-2 {
  animation-duration: 1000ms;
  margin: 27px 510px 60px 61px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 742px;
  }

  .u-section-1-3 .u-text-1 {
    margin-right: 202px;
    margin-left: 0;
  }

  .u-section-1-3 .u-text-2 {
    margin-right: 371px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 242px;
  }

  .u-section-1-3 .u-image-1 {
    width: 720px;
    height: 720px;
    margin-left: 0;
  }

  .u-section-1-3 .u-text-1 {
    margin-top: -580px;
    margin-right: 0;
  }

  .u-section-1-3 .u-text-2 {
    margin-right: 151px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 62px;
  }

  .u-section-1-3 .u-image-1 {
    width: 540px;
    height: 540px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -400px;
  }

  .u-section-1-3 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -200px;
  }
}

 .u-section-1-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/9f9a50a4fdd6989f47c858933b7448925d0abf58443f62717c3264e254f036635e4549e00ea78bb08b1f9f3fb43ed95e2b12d316d6b6a7ae61f742_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-4 .u-sheet-1 {
  min-height: 900px;
}

.u-section-1-4 .u-image-1 {
  width: 1046px;
  height: 1046px;
  margin: 28px auto 0 -186px;
}

.u-section-1-4 .u-text-1 {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: -906px 241px 0 67px;
}

.u-section-1-4 .u-text-2 {
  animation-duration: 1000ms;
  margin: 27px 478px 60px 67px;
}

.u-section-1-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 742px;
  }

  .u-section-1-4 .u-text-1 {
    margin-right: 108px;
    margin-left: 0;
  }

  .u-section-1-4 .u-text-2 {
    margin-right: 345px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 242px;
  }

  .u-section-1-4 .u-image-1 {
    width: 720px;
    height: 720px;
    margin-left: 0;
  }

  .u-section-1-4 .u-text-1 {
    margin-top: -580px;
    margin-right: 0;
  }

  .u-section-1-4 .u-text-2 {
    margin-right: 125px;
  }
}

@media (max-width: 767px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 62px;
  }

  .u-section-1-4 .u-image-1 {
    width: 540px;
    height: 540px;
  }

  .u-section-1-4 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -400px;
  }

  .u-section-1-4 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1-4 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1-4 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -200px;
  }
}

 .u-section-1-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/pic78.jpg");
  background-position: 50% 50%;
}

.u-section-1-5 .u-sheet-1 {
  min-height: 900px;
}

.u-section-1-5 .u-image-1 {
  width: 1046px;
  height: 1046px;
  margin: 28px auto 0 -174px;
}

.u-section-1-5 .u-text-1 {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: -906px 174px 0 79px;
}

.u-section-1-5 .u-text-2 {
  animation-duration: 1000ms;
  margin: 28px 431px 60px 59px;
}

@media (max-width: 1199px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 742px;
  }

  .u-section-1-5 .u-text-1 {
    margin-right: 53px;
    margin-left: 0;
  }

  .u-section-1-5 .u-text-2 {
    margin-right: 290px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 242px;
  }

  .u-section-1-5 .u-image-1 {
    width: 720px;
    height: 720px;
    margin-left: 0;
  }

  .u-section-1-5 .u-text-1 {
    margin-top: -580px;
    margin-right: 0;
  }

  .u-section-1-5 .u-text-2 {
    margin-right: 70px;
  }
}

@media (max-width: 767px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 62px;
  }

  .u-section-1-5 .u-image-1 {
    width: 540px;
    height: 540px;
  }

  .u-section-1-5 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -400px;
  }

  .u-section-1-5 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1-5 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1-5 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -200px;
  }
}

 .u-section-1-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/93420685-01.jpeg");
  background-position: 50% 50%;
}

.u-section-1-6 .u-sheet-1 {
  min-height: 900px;
}

.u-section-1-6 .u-image-1 {
  width: 1046px;
  height: 1046px;
  margin: 24px auto 0 -184px;
}

.u-section-1-6 .u-text-1 {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: -906px 184px 0 69px;
}

.u-section-1-6 .u-text-2 {
  animation-duration: 1000ms;
  margin: 30px 458px 60px 51px;
}

@media (max-width: 1199px) {
  .u-section-1-6 .u-sheet-1 {
    min-height: 742px;
  }

  .u-section-1-6 .u-text-1 {
    margin-right: 53px;
    margin-left: 0;
  }

  .u-section-1-6 .u-text-2 {
    margin-right: 308px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-6 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-1-6 .u-image-1 {
    width: 720px;
    height: 720px;
    margin-left: 0;
  }

  .u-section-1-6 .u-text-1 {
    margin-top: -580px;
    margin-right: 0;
  }

  .u-section-1-6 .u-text-2 {
    margin-right: 88px;
  }
}

@media (max-width: 767px) {
  .u-section-1-6 .u-sheet-1 {
    min-height: 426px;
  }

  .u-section-1-6 .u-image-1 {
    width: 540px;
    height: 540px;
  }

  .u-section-1-6 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -400px;
  }

  .u-section-1-6 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1-6 .u-sheet-1 {
    min-height: 268px;
  }

  .u-section-1-6 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1-6 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -200px;
  }
}

 .u-section-1-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/Aircon1.jpg");
  background-position: 100% 50%;
}

.u-section-1-7 .u-sheet-1 {
  min-height: 900px;
}

.u-section-1-7 .u-image-1 {
  width: 1046px;
  height: 1046px;
  margin: 122px auto 0 -189px;
}

.u-section-1-7 .u-text-1 {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: -906px 189px 0 64px;
}

.u-section-1-7 .u-text-2 {
  animation-duration: 1000ms;
  margin: 30px 463px 60px 45px;
}

@media (max-width: 1199px) {
  .u-section-1-7 .u-sheet-1 {
    min-height: 742px;
  }

  .u-section-1-7 .u-text-1 {
    margin-right: 53px;
    margin-left: 0;
  }

  .u-section-1-7 .u-text-2 {
    margin-right: 308px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-7 .u-sheet-1 {
    min-height: 242px;
  }

  .u-section-1-7 .u-image-1 {
    width: 720px;
    height: 720px;
    margin-left: 0;
  }

  .u-section-1-7 .u-text-1 {
    margin-top: -580px;
    margin-right: 0;
  }

  .u-section-1-7 .u-text-2 {
    margin-right: 88px;
  }
}

@media (max-width: 767px) {
  .u-section-1-7 .u-sheet-1 {
    min-height: 62px;
  }

  .u-section-1-7 .u-image-1 {
    width: 540px;
    height: 540px;
  }

  .u-section-1-7 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -400px;
  }

  .u-section-1-7 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1-7 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1-7 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -200px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 12px;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1910px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1788px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1143px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 400px;
}